{% extends 'base.html.twig' %}

{% block title %}Articles à lire{% endblock %}

{% block body %}
<div data-controller="paste">
    {% for article in articles %}
        <a href="{{ article.url }}">{{ article.title }}</a>
    {% endfor %}
</div>
{% endblock %}
