{% extends 'base.html.twig' %}

{% block title %}Articles à lire{% endblock %}

{% block body %}
<div data-controller="paste">
    <ul class="list-none">
    {% for article in articles %}
        <li>
            <a href="{{ article.url }}">{{ article.title }}</a>
        </li>
    {% endfor %}
    </ul>
</div>
{% endblock %}
