{% extends 'base.html.twig' %}

{% block title %}Articles à lire{% endblock %}

{% block body %}
<h1 class="text-center mb-4 text-4xl font-extrabold text-gray-900 ">Articles à lire</h1>
<div class="flex p-8">
    {% include 'to_read/_tabs.html.twig' %}
    {% include 'to_read/_create_article_form.html.twig' with { form: articleForm } %}
    {% include 'to_read/_category_form.html.twig' with { form: categoryForm } %}
</div>
{% endblock %}
